@import "tailwindcss";

@theme {
  --font-ibm: "IBM Plex Sans", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-primary-color: #000;
  --color-secondary-color: #E0E0E0;
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

.react-tabs__tab--selected {
  border-bottom: 1px solid #000 !important;
  color: #000;
}
.react-tabs__tab:focus {
  outline: none !important;
}

.react-tabs__tab--disabled {
  border-bottom: none !important;
  color: #E0E0E0 !important ;
}